.carousel .carousel-control-prev {
  position: absolute;
  left: -15%;
  z-index: 1;
  color: #0a0a0a !important;
  font-weight: bold;
}

.carousel .carousel-control-next {
  position: absolute;
  right: -15%;
  z-index: 1;
  color: #0a0a0a !important;
  font-weight: bold;
}
.carousel-inner {
    border-radius: 4px;
}