$font-family-base: 'Merriweather', serif;
$font-family-sans-serif: 'Nunito Sans', sans-serif;
$font-family-monospace: 'Nunito Sans', sans-serif;
$primary: #E6E6E6;
$danger: #F24822;
$dark: #222222;
$redGradient: linear-gradient(89.84deg, #BE1F21 0.11%, #E3342D 83.15%);
@mixin desktop{
    @media (min-width: 769px) {
        @content;
    }
}
@mixin tablet{
    @media (min-width: 599px) {
        @content;
    }
}
$theme-colors: (
  "primary": $primary,
  "danger": $danger,
  "dark": $dark,
);
$custom-colors: (
  "gray": #BABABA,
  'red-gradient': $redGradient
);
$theme-colors: map-merge($theme-colors, $custom-colors);
.overlay{
  position: absolute;
  z-index: 10;
  background-color: #00000094;
}
.divider-x{
  text-align: center;
  margin: 1rem 0;
  background-color: $danger;
  width: 50%;
  height: 2px;
}
section#our-work {
 position: relative;
 height: 50vh;
  @include desktop{
         height: 100vh;  
    }
}
section#why-us{
 background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('https://s3-alpha-sig.figma.com/img/5ed4/720e/97f886a60958ca01e02b0d2fe00164fe?Expires=1679875200&Signature=bEU78aizvoL56oBuBvEJR4pdeBaF~1HN~HwuDA61h88QmX5uUozThFGZ1bODHKztcCuMezEuxPZSkT7gtc6ysAf9Z7ysZESm~oN4dR~KzpGghpyx4bZ9wezIBi2WNevLqIDXJ~wjG7GOKtnJCS8lG~pSq6TtSNkfpkICEmj9Ow-D0GoesFweg2GWYEb~mOMfMtlnH-DsiLuP6RewIWuJYIVvO~7cZBUJeLAtMGMmEzP2gy4akfnOh93aBs4djt0cEGQVtF0AOT4su~R8gCuw8ux7mvOzFp7VIUifX0xZc6BH1vU8DAs2CqhNYPY5lmnJU7kSocS-EkUHRiZpo2MvLw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4');
}
section#contact-us{
 h3{color: #fff;}img{
  transform: scaleX(-1);
 }
}
.contact-content{
  ul{
    background: #BABABA;
    list-style: none !important;
    padding: 5 !important;
    li{
      background-color: #BABABA
    }
  }
}
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Nunito+Sans&display=swap');
@import './normalize.scss';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import './layout.scss';
@import './carousel.scss'