$font-family-base: 'Nunito Sans', sans-serif;
$font-family-sans-serif: 'Merriweather', serif;
$font-family-monospace: 'Nunito Sans', sans-serif;
$primary: #D9D9D9;
$danger: #F24822;
$dark: #222222;
@mixin desktop{
    @media (min-width: 769px) {
        @content;
    }
}
@mixin tablet{
    @media (min-width: 599px) {
        @content;
    }
}
$theme-colors: (
  "primary": $primary,
  "danger": $danger,
  "dark": $dark,
);
$custom-colors: (
  "gray": #BABABA,
  'black': #000202
);
$theme-colors: map-merge($theme-colors, $custom-colors);
body{
  font-size: 0.87rem !important;
   display: flex;
  flex-direction: column;
  font-family: 'Nunito Sans';
  min-height: 100vh;
  @include desktop{
    font-size: 1.25rem !important;
  }
}
h1, h2, h3, h4, h5 {
  font-family: 'Merriweather';
}
.font-heading{
   font-family: 'Merriweather';
}
.bg-red-background {
  background: linear-gradient(89.84deg, #BE1F21 0.11%, #E3342D 83.15%);
}
.overlay{
  position: absolute;
  z-index: 10;
  background-color: #00000094;
}
.divider-x{
  text-align: center;
  margin: 1rem 0;
  color: transparent;
  background-color: $danger;
  width: 50%;
  height: 1px;
  opacity: 1;
}
.img-hero{
  object-fit: none;
  width: auto;
  height: 100%;
  @include desktop{
    width: inherit;
    height: inherit;
    object-fit: fill;
  }
}
section#our-work {
  
 background-image:linear-gradient(rgba(1, 4, 6, 0.9),rgba(1, 4, 6, 0.9)),url('https://res.cloudinary.com/do5yybhwe/image/upload/v1679348747/fcb615f605526b53ba58d7c47af457bf_ocakuu.jpg');  
}
section#why-us{
 background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('https://res.cloudinary.com/do5yybhwe/image/upload/v1679348854/97f886a60958ca01e02b0d2fe00164fe_unk7tn.png')
}
section#contact-us{
 position: relative;
 .bg-toro-img{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
   display: flex; 
   justify-content: flex-end;
   align-items: flex-end;
  img {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
    -moz-filter: brightness(110%);
      max-width: 100%;
      height: 100%;
  }
  .bg-toro-img-mobile{
    @include desktop{
      display: none;
    }
  }
   .bg-toro-img-desktop{
    display: none;
    @include desktop{
      display: block;
    }
  }
 }
}
.contact-content{
  position: relative;
  z-index: 5;
  top: 0;
  left: 0;
  
  h3{color: #fff;}
  ul{
    list-style: none !important;
    padding: 5 !important;
  }
  li, a{
    color: #fff;
  }
}
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Nunito+Sans&display=swap');
@import './normalize.scss';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import './layout.scss';
@import './carousel.scss'